* {
    padding: 0;
    margin: 0;
}

.img {
    /* .navbar .title-nav img     */
    width: 4rem;
    height: 4rem;
}

/*--**DONE**--*/
.paraghraph {
    /* .navbar .title-nav p */
    font-family: 'Anton', sans-serif;
    /* background-color: transparent; */
    color: var(--main-color);
}

/*--**DONE**--*/
.textLogoColor {
    /* .navbar .title-nav p .text-logo-color */
    color: var(--base-color);
}

.navbar-global {
    /* background-color: indigo; */
    background-color: var(--background-color-main);
    height: 4rem;
    position: sticky !important;

    top: 0;
    z-index: 1;
    width: 100%;


    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}


.sidebar {
    /* margin: 0;
    padding: 0; */
    /* width: 10rem; */
    width: 13%;
    /* background-color: #f1f1f1; */
    background-color: var(--background-color-main);
    position: fixed;
    height: 100%;
    overflow: auto;
    /* 


    /* height: 100%; * /
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px; */
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;

    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 20px; */
    color: var(--main-color);
    display: block;


}

.active {
    background-color: #aa3604;
    color: white;
}


.sidebar a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: none;

}

.sidebar a:hover:not(.active) {
    background-color: var(--main-color);
    color: white;

    text-decoration: none;


}

.sidebar a:hover i {
    color: white;


}


/* i icon */
.button-dash-board {
    border: none;
    padding: 0.5rem;
    width: 100%;
    /* class='w-100 p-1' */
    margin: auto;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
}

.button-dash-board:hover,
.button-dash-board:hover i {
    color: white;
    background-color: var(--main-color);

}

i {
    padding: 0.5rem;

}


div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        /* float: left; */

        padding: 6px 8px 6px 16px;
        text-decoration: none;
        /* font-size: 20px; */
        color: #818181;
        /* display: block; */


    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/*  */
.main-content {
    /* margin-top: 60px; */
    margin-left: 200px;
    /* padding: 20px; */
    /* display: flex; */
    /* background-color: #555; */

    height: calc(100vh - 80px);
    /* you can use calc() function. */
    /* width: 100%; */
}

.collapsed+.main-content {
    margin-left: 60px;
}
