* {

    /* overscroll-behavior: none; */
    margin: 0;
    padding: 0;

}

.section {

    /* border: 2px solid black; */
    /* background-color: var( --background-color) !important; */
    /* background-color: red; */
    width: 100vw;
    height: calc(100vh- 90px);
    /* height: 50%; */

}

.container-card {
    /* border: 5px solid var(--main-color) !important; */
    border-radius: 2em !important;
    height: 40rem !important;
    /* background-color: blueviolet; */

}


.title {
    font-family: 'Anton', sans-serif !important;
    padding-top: 2% !important;
    /* font-size: 6rem !important;
     */
    /* color: var(--main-color) !important; */
}

i {
    color: var(--main-color)
}

.input-group-text,
.form-control,
select {
    border: 2px solid var(--main-color) !important;

}

/* .input-group-text:hover,
.form-control:hover,
.input-group-text:focus,
.form-control:focus {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
} */

*:focus {
    /* box-shadow: none !important; */
    box-shadow: 2px 2px 5pt 3pt var(--main-color) !important;

    /* box-shadow: 0 0 5pt 1pt var(--main-color) !important; */
}

/* input:focus,
input:active,
input:hover {
 
    outline: none !important;
    outline-style: none !important;
   
    box-shadow: none !important;

} */

.button {
    padding-top: 2% !important;
    font-family: 'Anton', sans-serif !important;
    background-color: var(--main-color) !important;
}

.image-container {
    /* background-color: bisque; */
    display: flex !important;
    /* height: calc(100vh- 90px); */
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.image-container img {
    /* background-color: peru; */
    height: 85%;
    /* width: 50%; */
}
